---
import NoteList from "../components/NoteList.astro";
import SiteHeader from "../components/SiteHeader.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Ilence Ye's Notes">
  <SiteHeader />
  <main class="container mt-4">
    <div class="space-y-4">
      <NoteList />
    </div>
  </main>
</RootLayout>
