---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<header class="container py-4 border-b mb-4 flex justify-between">
  <h1 class="font-bold">
    <a href="/">Ilence Ye's Notes</a>
  </h1>
</header>
